<html>
  <head>
    <script>
      var questions = {{questions}}
      var question = questions[Math.floor(questions.length * Math.random())]
      window.addEventListener('load', function () {
        document.getElementById("question").textContent = question
      })
    </script>
  </head>
  <body style="background-color: black;color: white;text-align: center;font-family: Arial;">
    <div>
      As you gaze into the fire, you hear it ask:
    </div>
    <div>"</div>
    <div id="question"></div>
    <div>"</div>
  </body>
</html>