<html>
  <head>
    <script>
      var questions = {{questions}}
      var question = questions[Math.floor(questions.length * Math.random())]
      window.addEventListener('load', function () {
        document.getElementById("question").textContent = question
      })
    </script>
  </head>
  <body style="background-color: black;color: white;text-align: center;font-family: Arial;">
    <iframe src="https://giphy.com/embed/UcbbmoKuEWB8c" width="343" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/headlikeanorange-fire-campfire-bbc-natural-world-UcbbmoKuEWB8c">via GIPHY</a></p>
    <div>
      As you gaze into the fire, you hear it ask:
    </div>
    <div style="display:inline-block;font-size:24px;">"</div>
    <div style="display:inline-block;font-size:24px;" id="question"></div>
    <div style="display:inline-block;font-size:24px;">"</div>
  </body>
</html>