<html>
  <head>
    <script>
      var questions = {{questions}}
      var question = questions[Math.floor(questions.length * Math.random())]
      window.addEventListener('load', function () {
        document.getElementById("question").textContent = question
      })
    </script>
  </head>
  <body style="background-color: black;color: white;text-align: center;font-family: Arial;">
    <video src="https://media3.giphy.com/media/UcbbmoKuEWB8c/giphy.mp4" autoplay loop style="max-height: 80vh;"></video>
    <div style="padding: 10px;">
      As you gaze into the fire, you hear it ask -
    </div>
    <div style="display:inline-block;font-size:24px;" id="question"></div>
  </body>
</html>